<% content_for :title, @band.name %>

<div class="w-full">
  <div class="max-w-3xl mx-auto text-center">

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block">
        <%= notice %>
      </p>
    <% end %>

    <h1 class="font-bold text-4xl mb-6">
      <%= @band.name %>
    </h1>

    <div class="mb-10 flex flex-wrap justify-center gap-2">
      <%= link_to "Edit this band",
          edit_band_path(@band),
          class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>

      <%= link_to "Back to bands",
          bands_path,
          class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>

      <%= button_to "Destroy this band",
          @band,
          method: :delete,
          class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",
          data: { turbo_confirm: "Are you sure?" } %>
    </div>

    <!-- Upcoming Shows -->

    <!-- Past Shows -->

    <div class="mt-12">
      <h2 class="font-bold text-3xl mb-6">Upcoming Shows</h2>

      <% if @band.shows.upcoming.any? %>
        <div class="space-y-6">
          <% @band.shows.upcoming.each do |show| %>
            <div class="text-center">
              <%= link_to show, class: "block" do %>
                <%= render show %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-500">No upcoming shows scheduled.</p>
      <% end %>
    </div>

    <% if @band.shows.past.any? %>
      <div class="mt-12">
        <h2 class="font-bold text-3xl mb-6">Past Shows</h2>

        <div class="space-y-6">
          <% @band.shows.past.each do |show| %>
            <div class="text-center">
              <%= render show %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
