<%= form_with(model: show, class: "contents") do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul class="list-disc ml-6">
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :venue %>
    <%= form.text_field :venue, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": show.errors[:venue].none?, "border-red-400 focus:outline-red-600": show.errors[:venue].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :city %>
    <%= form.text_field :city, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": show.errors[:city].none?, "border-red-400 focus:outline-red-600": show.errors[:city].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": show.errors[:date].none?, "border-red-400 focus:outline-red-600": show.errors[:date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :time %>
    <%= form.text_field :time, placeholder: "Doors 7 PM", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": show.errors[:time].none?, "border-red-400 focus:outline-red-600": show.errors[:time].any?}] %>
  </div>

  <div class="my-5">
    <div class="flex items-center gap-2 mb-2">
      <%= form.label :bands, class: "font-medium" %>

      <%= link_to "+ Create New Band",
                  new_band_path,
                  target: "_blank",
                  rel: "noopener",
                  class: "text-sm font-medium text-blue-600 hover:text-blue-800" %>
    </div>

    <div class="flex flex-wrap gap-3">
      <%= form.collection_check_boxes :band_ids,
                                      Band.order(:name),
                                      :id,
                                      :name do |b| %>
        <label class="flex items-center gap-2 px-3 hy-2">
          <%= b.check_box %>
          <%= b.text %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
