<div id="<%= dom_id show %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <p>
      <%= show.date.strftime("%A, %B %d, %Y") %> | <%= show.time %>
    </p>
    <p>
      <%= show.venue %> (<%= show.city %>)
    </p>
  </div>
  <%= show.bands.map(&:name).to_sentence %>
</div>
