<nav class="container mx-auto px-5 py-4 flex items-center justify-between">
  <div class="flex items-center gap-6">
    <%= link_to "Bunker Rat Records",
                root_path,
                class: "text-xl font-bold" %>

    <%= link_to "Shows",
                shows_path,
                class: "text-gray-700 hover:text-black" %>

    <%= link_to "Bands",
                bands_path,
                class: "text-gray-700 hover:text-black" %>
  </div>

  <% if authenticated? %>
    <%= link_to "Log Out", session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "Log In", new_session_path %>
  <% end %>
</nav>
